@tailwind base;

@font-face {
 font-family: 'JetBrainsMonoNerdFontRegular';
 src: url('/static/JetBrainsMonoNerdFont-Regular.ttf');
}

h1 {
 @apply text-4xl font-bold;
}

h2 {
 @apply text-3xl font-bold;
}

h3 {
 @apply text-2xl font-bold;
}

h4 {
 @apply text-xl font-bold;
}

h5 {
 @apply text-lg font-bold;
}

h6 {
 @apply text-base font-bold;
}

pre {
  @apply m-4 p-2 border rounded-xl;
}

pre, code {
  max-width: 50%;
  font-family: 'JetBrainsMonoNerdFontRegular';
  word-wrap: break-word;
}